# Installer script for sysconf layer sysconf.backuppc    -*- shell-script -*-

# Install required Debian packages
_packages=
_packages="$_packages nginx fcgiwrap backuppc par bzip2"

sysconf_require_packages $_packages
if dpkg -l | grep -q apache2; then
    service apache2 stop
    apt-get purge --yes apache2
fi

if [ ! -d /etc/backuppc/.git ]; then
    git init /etc/backuppc
    cd /etc/backuppc
    git add -A
    git commit -m "automatic initial commit from BackupPC distrib conf"
fi

# Fix Nginx
_force_nginx_restart=no
if [ -r /etc/nginx/sites-enabled/default ]; then
    rm -f /etc/nginx/sites-enabled/default
    _force_nginx_restart=yes
fi
if ps x | grep nginx | grep -vq grep; then
    if [ $_force_nginx_restart = yes ]; then
        service nginx restart
    fi
else
    service nginx start
fi
