# Installer script for sysconf layer sysconf.backuppc    -*- shell-script -*-

# Install required Debian packages
_packages=
_packages="$_packages nginx fcgiwrap backuppc par bzip2"

sysconf_require_packages $_packages
dpkg -l | grep -q apache2 && apt-get purge --yes apache2

if [ ! -d /etc/backuppc ]; then
    git init /etc/backuppc
fi

# Fix Nginx
_force_nginx_restart=no
if [ -r /etc/nginx/sites-enabled/default ]; then
    rm -f /etc/nginx/sites-enabled/default
    _force_nginx_restart=yes
fi
if ps x | grep nginx | grep -vq grep; then
    if [ $_force_nginx_restart = yes ]; then
        service nginx restart
    fi
else
    service nginx start
fi
