# Gitted import/export of the /etc/backuppc repository, index and work tree
#

[state]
        driver = git-remote

[git-remote]
        url = /etc/backuppc

        # Ignore tags and other non-branch refs on remote.
        # Branch names will be synced with same-name sub-branch on Gitted.
        remoteRefs = refs/heads/*
        localRefs = *
